<a href="https://colab.research.google.com/github/LRisaro/TP_DATOS_2021/blob/main/TP_DATOS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbn

%matplotlib inline

plt.style.use('default') 

sbn.set(style="whitegrid")

In [7]:
data = pd.read_csv('data_set.csv')

In [8]:
data

       anios_estudiados  ...                    trabajo
0                    17  ...            entretenimiento
1                    17  ...          directivo_gerente
2                    13  ...                  limpiador
3                    11  ...                  limpiador
4                    17  ...  profesional_especializado
...                 ...  ...                        ...
32556                16  ...            soporte_tecnico
32557                13  ...                  inspector
32558                13  ...            entretenimiento
32559                13  ...            entretenimiento
32560                13  ...          directivo_gerente

[32561 rows x 13 columns]