<a href="https://colab.research.google.com/github/LRisaro/TP_DATOS_2021/blob/main/TP_DATOS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn import tree
from sklearn.metrics import accuracy_score

%matplotlib inline

plt.style.use('default') 

sbn.set(style="whitegrid")

In [28]:
data = pd.read_csv("https://docs.google.com/spreadsheets/d/1-DWTP8uwVS-dZY402-dm0F9ICw_6PNqDGLmH0u8Eqa0/export?format=csv&gid=2054774482")

In [29]:
data

       anios_estudiados  ...                    trabajo
0                    17  ...            entretenimiento
1                    17  ...          directivo_gerente
2                    13  ...                  limpiador
3                    11  ...                  limpiador
4                    17  ...  profesional_especializado
...                 ...  ...                        ...
32556                16  ...            soporte_tecnico
32557                13  ...                  inspector
32558                13  ...            entretenimiento
32559                13  ...            entretenimiento
32560                13  ...          directivo_gerente

[32561 rows x 13 columns]